@model IEnumerable<TpProject.Models.ViewModels.Shop.CourseVM>

@{
    ViewBag.Title = "Category";
}

<h2>@Model.ElementAt(0).CategoryName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Course video
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <video controls="controls" width="384" height="216">
                <source src="~/Courses/@item.Name/@item.VideoName" type="video/mp4" />
            </video>
        </td>
        <td>
            @Html.ActionLink("More Details", "course-details", "shop", new { id = item.Name })
        </td>
    </tr>
}
</table>