@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>About us</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis congue magna vitae venenatis suscipit. Duis metus
    massa, accumsan et pharetra et, bibendum eget leo.
    Ut eget convallis nulla. Duis rutrum metus ut blandit
    malesuada. Maecenas metus nisl, elementum vel risus sit
    amet, mattis egestas mauris. Mauris in neque id eros
    volutpat lobortis ac sit amet odio. Nam in nunc hendrerit
    arcu placerat ornare. Ut rutrum, sapien et ultricies vulputate,
    lorem ipsum placerat mi, ut mollis orci diam gravida arcu.
    Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia Curae;
</p>